html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    /* Yosemite background image */
    background-image: url("../images/yosemite-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

.center-map {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height:fit-content;
    width:fit-content;
}