html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    /* Yosemite background image */
    background-image: url("../images/yosemite-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Helvetica Neue';
    font-size:15px;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

.center-map {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height:fit-content;
    width:fit-content;
}

#icon-list {
   /* Position it at the top left of the containing div. */
   position: absolute;
   top: 10px;
   left: 10px;

   /* Dimensons of the icon-containing space. */
   margin-top: 80px;
   height: 355px; 
   width: 780px;
}

/* Styling for links within an icon list (i.e., icons!)*/
#icon-list a {
    /* Icons are left-aligned within the icon-list space. */
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    /* Captions are center-aligned, and black. */
    text-align:center;
    text-decoration: none;
    color: black;
    font-family: 'Helvetica Neue';
    font-size:15px;
}

.lined-folder-entry {
  height:32px;
  width:310px;
}