<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lato" type="text/css"/>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.0.4/css/jquery.mmenu.all.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.0.4/js/jquery.mmenu.min.all.js"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.0.4/css/extensions/jquery.mmenu.widescreen.css"  media="all" />
	  <link rel="stylesheet" href="css/wunderlist_main.css">
	  <script>
	  	// Prepare sidebar.
         jQuery(document).ready(function( $ ) {
		    $("#sidebar").mmenu({
		        "extensions": ["widescreen"],
		        "slidingSubmenus": false
		    });

        	// Prepare displaycards, for the active tab.
			 {% for post in site.data[page.list].posts %} 
			   $('{{"#" | append: forloop.index}}').mmenu({
			       "offCanvas": {
			           "zposition": "front",
			           "position": "right"
			       },
			       "header": {
		           	"title": "{{post.title}}",
			        "add": true,
		            "update": true},
			   });
		     {% endfor %}
	  	});
		</script>
		<title>{{ page.title | append: " | Olivia"}}</title>
	</head>

	<body>

		<!-- Generate (permanent) sidebar. -->
		<nav id="sidebar">
		<ul>
			<li><a href="/"><img src="images/polaroid_headshot_caption.jpg" alt="Headshot" style="width:100%"></a></li>
			<li><a href="aboutme">About me</a></li>
			<!-- Manually add "mm-opened" class so that the folder is by default opened. -->
			<li class="mm-opened"><span>Idea lists</span>
				<ul>
					<li><a href="philosophies"><img src="images/yinyang.png" height=20 width=20 hspace=10/>Current life-guiding principles</a></li>
					<li><a href="ideas"><img src="images/lightbulb.png" height=20 width=20 hspace=10/>Entrepreneurial idea list</a></li>
				</ul>
			</li>
		</ul>
		</nav>

		<div class="main">
			<!-- Generate displaycard items. -->
			{% for post in site.data[page.list].posts %}
			<nav id='{{forloop.index}}'>
				<!-- Close button. -->
				<a href="#mm-0">Close</a>
				<!-- Extra div necessary to contain wrapper for paper background. -->
				<div>
			  		<div class = "paper">{{ post.entry }}</div>
			    </div>
			</nav>
			{% endfor %}
		</div>

		<!-- Dynamically generate list items. -->
		{% for post in site.data[page.list].posts %}
		<div id="rounded-rectangle">
			<font size=3><b> {{post.title}} </b></font>
			<a href = '{{"#" | append: forloop.index}}'>
				<span style="float:right;">
					<!-- Right-aligned date. -->
					<small> {{post.date}} </small>
					<!-- Makes entire div clickable. -->
					<span class="link-spanner"></span>
				</span>
			</a>
		</div>
		{% endfor %}

	</body>

</html>