<!DOCTYPE html>
<html>
<head>
  <!-- Add favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lato" type="text/css"/>
  <title>Writing | Olivia Angiuli</title>
  <style>
	.post {
	  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
	  border:solid 5px hsla(0, 95%, 35%, 1);
	  font-family: 'LatoRegular'; 
	  font-weight: normal; 
	  font-style: normal;
	  font-size: 18px;
	}
  </style>
</head>

	<div class="post" style="width: 900px; overflow:scroll; background-color:white; border:1px solid black; padding-left: 50px; padding-right:50px; display: block; margin-left: auto; margin-right: auto; margin-top: 5px;">
		<a href="../writing.html">< Back to writing</a>
		<p class="meta"> {{ page.date | date_to_long_string }}</p>
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>

</html>